/* You can add global styles to this file, and also import other style files */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  
    background-image: url('assets/space_sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center; 

    font-size: 100%;
  }
